html{
  background-image: url("../img/black-background.jpg");
  font-family: sans-serif;
}


.header{
  background:#ffcb05;
  font-family: 'Montserrat', sans-serif;
  font-style: oblique;
  padding: 20px 10px 10px 20px;
  text-decoration:underline
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffcb05;
    position: fixed;
    top: 0;
    width: 100%;
     z-index: 2;
}

.menuItem {
    float: left;
}

.menuItem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.form {
  padding-top: 150px;
  text-align: center;
  color: white;
  float: right;
  padding-right: 150px;
  font-size: 16px;
}
